<h1>Books with Friends</h1>

<h3> Popular Books </h3>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author/s</th>
      <th scope="col">Categories</th>
      <th scope="col">Added by</th>
      <th scope="col">Read More</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>

  </tbody>
</table>