body,html{
    height: 70%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f7bbb5 !important;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    line-height: 40px;

}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: white;
    color: #e74c3c;
}

h5 {
    font-size: 400px;
}
